In [57]:
import pandas as pd
import os

In [80]:
slice_id = 'VS6MsBrain_F1_VS6libary_V10_LH_03-19-21'

In [86]:
region_id = 'region_1'

In [87]:
cell_props = pd.read_csv(os.path.join('E:\\temp', slice_id, region_id, 'cell_props', 'cell_props.tsv'), sep='\t')
cell_props.head()

,cell_key,cell_label,x,y,cell_area
0,11749947492600602376900485489212129405,1,103680.374846,34656.390823,4882
1,11749947492600602376900485489212129405,2,103590.523448,34668.785517,1450
2,179610216874674321708676340420725987109,3,104626.627992,34106.383217,3301
3,181775464897210860182696324845143111351,4,104732.631074,33822.549454,17410
4,195048370576561709480417564292591407967,5,105234.058116,34823.077154,1996

In [88]:
N = cell_props.cell_label.max()
cellData = pd.DataFrame({'Cell_Num': cell_props.cell_label})
cellData['X'] = 0
cellData['Y'] = 0
cellData['Genenames'] = [[] for x in cell_props.cell_label]
cellData['CellGeneCount'] = [[] for x in cell_props.cell_label]
cellData['ClassName'] = [['Generic'] for x in cell_props.cell_label]
cellData['Prob'] = [[1.0] for x in cell_props.cell_label]

In [89]:
cellData

        Cell_Num  X  Y Genenames CellGeneCount  ClassName   Prob
0              1  0  0        []            []  [Generic]  [1.0]
1              2  0  0        []            []  [Generic]  [1.0]
2              3  0  0        []            []  [Generic]  [1.0]
3              4  0  0        []            []  [Generic]  [1.0]
4              5  0  0        []            []  [Generic]  [1.0]
...          ... .. ..       ...           ...        ...    ...
130296    130297  0  0        []            []  [Generic]  [1.0]
130297    130298  0  0        []            []  [Generic]  [1.0]
130298    130299  0  0        []            []  [Generic]  [1.0]
130299    130300  0  0        []            []  [Generic]  [1.0]
130300    130301  0  0        []            []  [Generic]  [1.0]

[130301 rows x 7 columns]

In [90]:
cellData.to_csv(os.path.join('E:\\temp', slice_id, region_id, 'cellData', 'cellData_0.tsv'), index=False, sep='\t')
cellData.head()

   Cell_Num  X  Y Genenames CellGeneCount  ClassName   Prob
0         1  0  0        []            []  [Generic]  [1.0]
1         2  0  0        []            []  [Generic]  [1.0]
2         3  0  0        []            []  [Generic]  [1.0]
3         4  0  0        []            []  [Generic]  [1.0]
4         5  0  0        []            []  [Generic]  [1.0]